@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/*
  Posibles fuentes: 
  -Roboto Mono
  -Tech Mono

  Posible paleta de colores: 
  
  morado: http://paletton.com/#uid=14g0u0kllllpD50nac0jwuFh2LZ
  negro: https://paletton.com/#uid=13A0u0k004o0jir01bR5h02di0p
  negro-2: https://paletton.com/#uid=13A0u0k00g500++00pK0N4zn+8X
*/

* {
  font-family: 'Share Tech Mono', monospace;
  margin:0px;
  padding:0px;
}

:root {
  /* Primary */
  --background-primary: #171718;
  --highlight-primary: #7858A6;

  /* Fonts */
  --font-highlight: #7858A6;
  --font-text: #5F5F60;
}

body {
/*   position: relative; */
  background-color: var(--background-primary);
}

html, body { height: 100%; margin: 0; }

