/* NAV BAR TEST ALEX DESIGN */
.menu{
  background-color: var(--primary-background-color);
  color: var(--primary-color);
  height: 6.5rem;

  font-size: 2rem;
  position: absolute;
  width: 100%;
  z-index: 500  ;
}

.menu__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.menu__logo {
  font-size: 3rem;
  color: var(--primary-color);
  font-family: var(--title-font);
  font-weight: 100;
}

/* Contenedor lista */
.menu__links{
  height: 100%;
  transition: transform .5s;
  display: flex;
  align-items: center;
}

/* Contenedor del item menu */
.menu__item{ /* No me interesa */
  position: relative;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu_item {
  display: flex;
  align-items: center;
  justify-items: center;
}

/* Items del menú */ /* Me interesa */
.menu__link{
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 3rem;
  display: flex;
  /* height: 100%; */
  align-items: center;


}

/* Hover menú */
.menu__link:hover{
  color: var(--third-color);
}

/* Contenedor icon */
.menu__hamburguer{
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  display: none;
}

/* burger menu */
.menu__img{
  display: block;
  width: 36px;
}

@media (max-width:800px){

  .menu {
    font-size: 3rem;
    padding-top: 3rem;
  }

  .menu__logo {
    font-size: 6rem;
  }

  .menu__hamburguer{
    display: flex;
  }

  .menu__item{
    --clip:0;
    overflow:hidden;
    display: flex;
    justify-content: center;
  }


  /* Menu mobile */
  .menu__links{
      position: fixed;
      max-width: 400px;
      width: 100%;
      top: 9rem;
      bottom: 0;
      right: 0;
      background-color: #000000;
      overflow-y: auto;
      display: grid;
      grid-auto-rows: max-content;
      transform: translateX(100%);
      z-index: 200;
  }

  /* Mostrar menu */
  .menu__links--show{
      transform: unset;
      width: 100%;
  }

  .menu__link{
      padding: 25px 0;
      height: 100%;
      width: 100%;
      justify-content: center;
      color: white;
      font-size: 4rem;
  }

  .theme-wrap button, .lang-wrap button{
    color: white;
  }
}