@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/*
  Posibles fuentes: 
  -Roboto Mono
  -Tech Mono


  Posible paleta de colores: 
  
  morado: http://paletton.com/#uid=14g0u0kllllpD50nac0jwuFh2LZ
  negro: https://paletton.com/#uid=13A0u0k004o0jir01bR5h02di0p
  negro-2: https://paletton.com/#uid=13A0u0k00g500++00pK0N4zn+8X
*/

* {
  font-family: 'Share Tech Mono', monospace;
}

:root {
  --primary: #171718;

  --font-primary: #7858A6;
}

body {
  background-color: var(--primary);
  color: var(--font-primary);
  font-size: 48px;
  position: relative;
  
}

html, body { height: 100%; margin: 0; }
/* div { height: 100%; width: 100%; background: red; } */

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.name {
  width: 600px;
  position: absolute;
  left: 520px;
}


.down-arrow {
	position: absolute;
	top: 90%;
	width: 3vmin;
	height: 3vmin;
	background: transparent;
	border-top: 1vmin solid white;
	border-right: 1vmin solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
	
	left: calc(50% - 1.5vmin);
	transform: translate3d(0,-50%,0) rotate(135deg);
}

.down-arrow:hover {
  border-color: var(--font-primary);
  box-shadow: 0.5vmin -0.5vmin 0 white;
}

.down-arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%,-60%) rotate(45deg);
  width: 200%;
  height: 200%;
}

/* 
  Referencias:

  flecha principal: https://codepen.io/varystrategic/pen/zGrMQK

*/
