@font-face {
  /* Title */
  font-family: 'aachen_bold';
  src: url('../font/Aachen_Bold.ttf') format("truetype");
}

@font-face {
  /* Sub Title */
  font-family: 'busoroma';
  src: url('../font/busorama.ttf') format("truetype");
}

@font-face {
  /* Text */
  font-family: 'benguiat';
  src: url('../font/ITC_Benguiat/BenguiatStd-Book.otf');
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


/* ========== Variables ========== */
:root {
  font-size: 62.5%;
  
  /* Pulp Fiction Colors */
  --primary-color: #000000;
  --secundary-color: #ea0102;
  --background-color: #ffffff;
  --background-variation--color: #070707;


  /* ========== Font and Typography ========== */
  --title-font: 'aachen_bold';
  --sub-title-font: 'busoroma';
  --text-font: Helvetica;

  --title-font-size: 8.8rem;
  --title-text-font-size: 4.4rem;

  --sub-title-font-size: 7.2rem;
  --text-font-size: 2.8rem;
  

  /* Others Variable */
  --margin-top-title: 10rem;

  /* ========== z-index ========== */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ========== Darkmode ========== */
body.pulpfictionMode {
  --primary-color: #ffb100;
  --secundary-color: #ea0102;
  --background-color: #000000;
  --background-variation--color: #070707;


}

body.lightMode {
  --primary-color: #000000;
  --secundary-color: #6b0808;
  --background-color: #ffffff;
  --background-variation--color: #f9f9f9;
  --background-colosr: rgb(24 24 27/var(--tw-bg-opacity));

  --primary-color: #000000;
  --secundary-color: #ffffff;

  --primary-background-color: #ffffff;
  --secundary-background-color: #000000;

}

body.roseMode {
  --primary-color: #4a0759;
  --secundary-color: #bf63a3;
  --background-color: #f5bee4;
  --background-variation--color: #f9b2e2;

}

/* ========== Globals ========== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  transition: all 200ms;
}

body {
  /* margin: var(--header-height) 0 0 0; */
  font-family: var(--text-font);
  background-color: var(--background-color);
  color: var(--primary-color);
  letter-spacing: 0.1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

/* ========== SCROLLBAR ========== */
/*General width*/
::-webkit-scrollbar{
  width:10px;  
}
/*Scrollbar full body*/
::-webkit-scrollbar-track{
  /* box-shadow: inset 0 0 10px green; */
  background-color: var(--background-variation--color);
}
/*Scrollbar main line*/
::-webkit-scrollbar-thumb{
  border-radius: 2px;
  background-color: var(--primary-color);
}
/*Scrollbar main line hover & active*/
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active{
  background-color: var(--secundary-color);
}
/* ========== Home ========== */  
.header {
  background-color: var(--primary-background-color);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 6rem;
}

.nav-logo {
  font-family: var(--title-font);
  font-size: 3em;
  color: var(--primary-color);
  
}


.nav-list {
  display: flex;
  justify-content: space-around;
  column-gap: 6rem;
  font-size: 2rem;
}

.nav-link {
  flex-direction: column;
  align-items: center;
  row-gap: 0.4rem;
  color: var(--primary-color);
  font-weight: 400;
}

.nav-link:hover {
  color: var(--secundary-color);
}

.theme-lang {
  display: flex;
  column-gap: 2rem;
  font-size: 2rem;
}


.lang-wrap a{
  color: var(--secundary-color);
}


@media screen and (max-width: 767px) {
  .header
  {
    position:static;
  }

  .nav-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--background-variation--color);
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;

    z-index: 20; 
  }

  .nav-list {
    gap: 0;
    font-size: 1rem;
  }

}
/* ========== Home ========== */  
.home-all {
  /* position */
  height:100vh;
  width:100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;
  position:relative;
}

.home-name {
  /* style */
  font-size: var(--title-font-size);
  font-family: "aachen_bold";
  font-weight: 100;
  
  color:var(--primary-color);
  text-shadow: 0px .8rem 0px var(--secundary-color);

  /* position */
  margin:1rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.home__profession {
  /* style */
  color:var(--primary-color);
  font-family: 'busoroma';
  font-size: var(--title-text-font-size);


  /* position */
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

/* ========== About Me ========== */
.about {
  background-color: var(--secundary-background-color);
  color: var(--secundary-color);
}
.about-all {
  /* position */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:2rem;
  position:relative;
  height:calc(100vh);
  width:100%;
  padding: 0 15vw;
  
}

.about-all h2 {
  /* style */
  position: absolute;
  top: 0;
  font-family: var(--title-font);
  font-weight: 100;
  font-size: var(--sub-title-font-size);
  margin-top: var(--margin-top-title);

}

.about-container {
  /* postion */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.about-img {
  /* position */
  width: 100%;
  justify-self: center;
}

.about-info {
  margin:2.5rem 1rem 1rem 1rem;
  text-align: center;
}

.about-text {
  position:relative;
  text-align: justify;
  font-size: 1.14rem;
  font-weight: 400;
  font-size: var(--text-font-size);
}
/* ========== Skills ========== */
.skills {

}

.skills-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
  height:calc(100vh);
  width:100%;
  padding: 0 15vw; /* hacer con padding y vw*/

}

.skills-all h2 {
  position: absolute;
  top: 0;
  /* style */
  font-family: var(--title-font);
  color: var(--primary-color);
  font-weight: 100;
  font-size: var(--sub-title-font-size);
  margin-top: var(--margin-top-title);
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.skills-info {
  margin:2.5rem 1rem 1rem 1rem;
  text-align: center;
}

.skills-text {
  position:relative;
  text-align: center;
  color:var(--primary-color);
  font-size: 1.14rem;
  font-weight: 400;
  font-size: var(--text-font-size);
}

.skills-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 5rem;
  background-color: var(--background-variation--color);
  border-radius: 1rem;
  padding: 2rem 2rem;
}

.skills-card {
  display: flex;
  align-items: center;

}

.skills-card h3 {
  font-size: 2.8rem;
}
/* ========== Projects ========== */
.projects {
  background-color: var(--secundary-background-color);
}

.projects-all {
  /* position */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:2rem;
  position:relative;
  height:calc(100vh);
  width:100%;
  padding: 0 15vw;
}

.projects-all h2 {
  position: absolute;
  top: 0;
  font-family: var(--title-font);
  color: var(--secundary-color);
  font-weight: 100;
  font-size: var(--sub-title-font-size);
  margin-top: var(--margin-top-title);
}

/* ========== Contact Me ========== */
.contact{
 /*  background-color: hsl(106, 94%, 19%); */ /* Morado anterior */
  background-color: var(--background-color);
}

.contact-all{
  /* position */
  height:calc(100vh);
  width:100%;
  padding: 0 15vw; /* hacer con padding y vw*/
  display: flex;
  align-items: center;
}

.title-alert {
  font-size: 4.5rem !important; 
}

.text-alert {
  font-size: 2rem !important;
}

/* ========== Footer ========== */
.footer {
  /* Color anterior */
  /* background-color: hsla(260, 80%, 10%, 0.46); */
  background-color: var(--secundary-background-color);
  color: var(--secundary-color);
}
.footer-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  height: 40vh;
}

.footer-all h2{
  font-size: var(--title-text-font-size);
}

.footer-all p {
  font-size: var(--text-font-size);
}

.footer-contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-contact-link {
  color:var(--secundary-color);
  padding:.9rem;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-contact-link a {
  font-size: 2rem;
}

.footer-contact-link a:visited {
  color:var(--secundary-color);
}

.footer-contact-link a:link {
  color:var(--secundary-color);
}

/* ========== Media Queries ========== */


/* ----- Phone: Normal Decives ----- */
@media screen and (max-width: 481px) {
  :root {
    font-size: 30%;
  }

  /* ========== Home ========== */
  .home__name{
    font-size: 3.3rem;
    margin:2.5rem;
    
  }

  /* ========== About Me ========== */
  .about-all {
    height: auto;
    background-color: var(--background-color);
  }

  .about-container {
    padding: 0 10vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

  }

  .about-img {
    height: 25rem;
    width: auto;
  }

  .about-info {
    margin: 0;
  }

  /* ========== Footer ========== */
  .footer-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

/* ----- Phone: Small Decives ----- */
@media screen and (max-width: 320px) {

}


@media screen and (min-width: 767px) {

  .nav-link i {
    display: none;
  }
}


.test {
  fill: var(--secundary-color);
}